<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.brahmaos.wallet.brahmawallet">

    <!-- basics -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27"/>

    <application
        android:name=".WalletApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <!-- application spec -->
        <receiver android:name=".receiver.InstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.brahmaos.wallet.brahmawallet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.account.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_account" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".ui.account.AccountsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.ImportEthereumAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_import_account"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.token.TokensActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.EthAccountAssetsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_account_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transfer.EthTransferActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_transfer"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="brahmaos.intent.action.WALLET_TRANSFER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.EthAccountDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.ChangeAccountNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.AccountChangePasswordActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_account_change_password" />
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.account.AddressQrcodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.common.barcode.CaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.AccountBackupActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_account_backup"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.token.TokenSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.setting.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.setting.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.setting.ServiceTermsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.MnemonicBackupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.ConfirmMnemonicActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.BackupKeystoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.FingerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/FadeTheme" />
        <activity android:name=".ui.transfer.InstantExchangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.TransactionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.EthTransactionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.EtherscanTxsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.EtherscanTxDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.TransactionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.CelestialBodyIntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.CreateEthAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.CreateBtcAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.ImportBtcAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.BtcAccountAssetsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.BtcAccountDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.BtcAccountChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.BtcAddressQrcodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transfer.BtcTransferActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.BtcTransactionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.BtcTransactionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transaction.BlockchainTxDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.transfer.QuickTransferActivity"
            android:theme="@style/transparent_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="bitcoin" />
                <data android:scheme="ethereum" />
            </intent-filter>
        </activity>
    </application>

</manifest>
